<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imbuegen.alumniapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme"
        android:name=".Activity.OfflineClass">
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mNoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Service.FCMInstanceId">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.EventsActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AlumniLoginActivity"
            android:label="@string/title_activity_alumni_login"
            android:screenOrientation="portrait" />
          </application>

</manifest>